body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    padding-bottom: 4px;
}
header .body {
    position: absolute;
    top: 8px;
    left: 80px;
}
header h1 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
}
header p {
    font-size: 0.8em;
    margin-top: 0;
}

main {
    padding: 10px;
}

button {
    cursor: pointer;
    font: inherit;
}

dt {
    font-weight: bold;
}

footer {
    background-color: #000000;
    color: #dddddd;
    padding:10px;
}
footer a {
    color: #dddddd;
}

#page_date {
    font-size: 3em;
    vertical-align: middle;
    margin: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: fit-content;
    margin: 10px;
    padding: 5px;
    outline-style: solid;
    outline-width: thin;
    box-shadow: 5px 5px 5px #dddddd;
}

.card h3 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.nominal {
    outline-color: green;
    background-color: #ddffdd;
}
.warning {
    outline-color: rgb(182, 156, 12);
    background-color: #ffffdd;
}
.error {
    outline-color: #880000;
    color: #880000;
    background-color: #ffdddd;
}
